body {
    width: 100vw;
    height: 100vh;
    margin: 0pt;

    font-size: 19pt;
    font-family: 'Roboto Condensed', sans-serif;
}

.fontify {
    font-size: 16pt;
    font-family: 'Roboto Condensed', sans-serif;
}